body {
    width: 1100px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', bold, serif;
}

p,
a {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 100px;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 293px;
    padding: 50px;
    position: relative;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    gap: 6px;
}

.header-link-main-page {
    font-size: 18px;
}

.-navigation-div {
    display: flex;
    align-items: center;
    gap: 14.46px;
    margin-left: 13px;
}

.navigation-dot {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    border: 1px solid black;
}

.header-logo-div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-self: center;
    height: 105px;
    width: 148px;
}

.header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
    height: 98px;
}

.ono-tebe-nado-cover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../images/cover.jpg');
    background-size: 100% 100%;
    height: 757px;
    padding: 50px;
    position: relative;
}

.ono-tebe-nado-cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* 60% затемнение */
    z-index: 0;
}

.ono-tebe-nado-text {
    display: flex;
    margin-top: 165px;
    height: 385px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    position: relative;
}

.it {
    margin: 0;
    align-self: flex-start;
    letter-spacing: 30%;
}

.for-you {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 30%;
}

.needs {
    position: absolute;
    align-self: flex-end;
    margin: 0;
    letter-spacing: 30%;
    right: 0;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 51px;
    z-index: 1;
}

.subline {
    display: flex;
    justify-content: space-between;
    width: 637px;
    color: white;
    font-size: 22px;
    font-family: Raleway, sans-serif;
}

.subline-description {
    font-weight: normal;
    font-size: 22px;
}

button {
    background: none;
    width: 256px;
    height: 51px;
    border-width: 1px;
    border-color: white;
    color: white;
    font-size: 22px;
}

.lots {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 160px 24px 0 24px;
}

.lots-article {
    font-size: 40px;
    margin-left: 40px;
}

.lots-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 596px;
    column-gap: 25px;
}

.first-lot-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    grid-column: 1;
    grid-row: 1;
    background-image: url("/images/card-lot-01.jpg");
    background-size: cover;
    background-position-x: center;
    position: relative;
}

.first-lot-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* 60% затемнение */
    z-index: 1;
}

.first-lot-article {
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
    z-index: 2;
}

.first-lot-text {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: 0;
    margin-bottom: 48px;
    left: 40px;
    right: 40px;
    z-index: 2;
}

.second-lot-image {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding: 48px 40px;
     grid-column: 2;
     grid-row: 1;
     background-image: url("/images/card-lot-02.jpg");
     background-size: cover;
     background-position-x: center;
     position: relative;
 }

.second-lot-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* 60% затемнение */
    z-index: 1;
}

.second-lot-article {
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
    z-index: 2;
}

.second-lot-text {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: white;
    margin-bottom: 48px;
    position: absolute;
    bottom: 0;
    left: 40px;
    right: 40px;
    z-index: 2;
}

.third-lot-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    grid-column: 3;
    grid-row: 1;
    background-image: url("/images/card-lot-03.jpg");
    background-size: cover;
    background-position-x: center;
    position: relative;
}

.third-lot-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* 60% затемнение */
    z-index: 1;
}

.third-lot-article {
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
    z-index: 2;
}

.third-lot-text {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: white;
    margin-bottom: 48px;
    position: absolute;
    bottom: 0;
    left: 40px;
    right: 40px;
    z-index: 2;
}

.lots-see-more {
    font-size: 20px;
    margin-left: 40px;
    text-decoration: underline;
}

.about-auction {
    display: flex;
    justify-content: space-between;
    margin: 120px 24px 180px 24px;
    height: 595px;
}

.black-dot-logo {
    display: flex;
    place-content: center;
    height: 240px;
    width: 240px;
    background-color: black;
    border-radius: 50%;
    margin-top: 35px;
    margin-left: 47px;
}

.white-logo {
    place-self: center;
    height: 114px;
    width: 148px;
}

.about-auction-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 449px;
    width: 693px;
    margin-top: 133px;
}

.about-auction-article {
    font-size: 40px;
}

.about-auction-text1{
    margin-top: 100px;
    font-size: 20px;
}

.about-auction-text2 {
    font-size: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 180px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 265px;
    height: 98px;
}

.number {
    font-size: 18px;
    text-decoration: underline;
}

.mail {
    font-size: 18px;
    text-decoration: underline;
}

.address {
    font-size: 18px;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    justify-content: space-between;
    height: 64px;
}

.link-main-page {
    font-size: 18px;
    text-decoration: underline;
}

.see-lots {
    font-size: 18px;
    text-decoration: underline;
}

.about-auction-link {
    font-size: 18px;
    text-decoration: underline;
}

.media-links {
    display: flex;
    justify-content: space-between;
    width: 240px;
    height: 48px;
}

.media-links-image {
    height: 48px;
    width: 48px;
}